<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Document</title>
    
    <link href="../../css/common.css" rel="stylesheet" type="text/css" media="screen"/>

    <link href="../../css/truemail.css" rel="stylesheet" type="text/css" media="screen"/>

    <!--[if lt IE 9]><script src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="../../js/jquery-2.1.1.min.js" type="text/javascript"></script><!--<![endif]-->

	

</head>

<body>

    <div class="tw-layout">

        

        <div class="tw-list-top">
            <div class="tw-crumb">
                <i class="tw-icon-caret-right"></i>当前位置：内部邮件 >  收件箱
            </div> 

            <div class="tw-search-bar">
                <div class="tw-top-tool">
                    <a class="tw-btn-green">
                        <i class="tw-icon-send-o"></i> 立即发送
                    </a>
                    <a class="tw-btn-blue" href="#">
                        <i class="tw-icon-save"></i> 存草稿
                    </a>
                    <a class="tw-btn-dangerly" href="#">
                        <i class="tw-icon-minus-circle"></i> 删除选中
                    </a>
                    <a class="tw-btn-danger" href="#">
                        <i class="tw-icon-trash-o"></i> 永久删除
                    </a>
                </div>

            </div>
        </div>
    
        <div class="tw-container">
            <form method="get" id="form" name="form" action="#" class="tw-form">
            <table class="tw-table-form tm-table-form">
                <colgroup>
                    <col  width="10%" />
                    <col />
                </colgroup>
                <tr>
                    <th>主  题：</th>
                    <td><input type="text" class="tw-form-text" id="" name="username" value="">
                        <label class="tw-form-label"><input type="checkbox" value="run0" class="tw-form-checkbox" name="run"><span>任务邮件</span></label>
                    </td>
                </tr>
                <tr>
                    <th>收件人：</th>
                    <td><input type="text" class="tw-form-text" id="" name="username" value="">
                    <button class="tw-btn-primary"><i class="tw-icon-user"></i> 选择</button>
                    </td>
                </tr>
                <tr>
                    <th>抄  送：</th>
                    <td><input type="text" class="tw-form-text" id="" name="username" value="">
                    <button class="tw-btn-primary"><i class="tw-icon-user"></i> 选择</button></td>
                </tr>
                <tr>
                    <th>秘密抄送：</th>
                    <td><input type="text" class="tw-form-text" id="" name="username" value="">
                    <button class="tw-btn-primary"><i class="tw-icon-user"></i> 选择</button></td>
                </tr>
                <tr>
                    <th>附件：</th>
                    <td>
                        <a href=""><i class="tw-icon-paperclip"></i> 添加附件</a>
                    </td>
                </tr>
                <tr>
                    <th>附件：</th>
                    <td>
                        <ul class="tm-attr-list">
                            <li>
                                <i class="tw-icon-paperclip"></i> <span>2016年度省级计划阿斯顿发送到发安安排表.xlsx</span>
                            </li>
                            <li>
                                <i class="tw-icon-paperclip"></i> <span>2016年度省级计划阿斯顿发送到发安安排表.xlsx</span>
                            </li>
                            <li>
                                <i class="tw-icon-paperclip"></i> <span>2016年度省级计划阿斯顿发送到发安安排表.xlsx</span>
                            </li>
                            <li>
                                <i class="tw-icon-paperclip"></i> <span>2016年度省级计划阿斯顿发送到发安安排表.xlsx</span>
                            </li>
                        </ul>
                        
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <label class="tw-form-label"><input type="checkbox" value="run0" class="tw-form-checkbox" name="run"><span>手机短信提醒</span></label>
                        <label class="tw-form-label"><input type="checkbox" value="run0" class="tw-form-checkbox" name="run"><span>中威通讯提醒</span></label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        中威通讯提醒<br />中威通讯提醒<br />中威通讯提醒<br />中威通讯提醒<br />中威通讯提醒<br />中威通讯提醒<br />中威通讯提醒<br />中威通讯提醒<br />

                    </td>
                </tr>
               
            </table>

              
             
            </form>
        </div>
    </div>


    <script src="../../plugins/layer/layer.js" type="text/javascript"></script>

    <script src="../../plugins/laydate/laydate.js" type="text/javascript"></script>
    <script src="../../js/common-ui.js" type="text/javascript"></script>
    
    
</body>
</html>
