<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Document</title>
    <link href="../../css/common.css" rel="stylesheet" type="text/css" media="screen">
    <link href="../../css/truemail-login.css" rel="stylesheet" type="text/css" media="screen">
    <!--[if lt IE 9]><script src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="../../js/jquery-2.1.1.min.js" type="text/javascript"></script><!--<![endif]-->
</head>

<body>
    <div class="tw-layout">
        <div class="tm-login-top">
        	<div class="tm-grid tm-logo-wrap">
	        	<div class="tm-login-logo">
	        		<img class="tw-logo-small" src="../../img/mail/logo-small.png">
	        		<span class="tm-logo-txt">中威邮件管理系统</span>
	        	</div>
        	</div>
        </div>
        
        <div class="tm-login-body">
        	<div class="tm-bg-liuxing">
        		<div class="tm-grid tm-earth-wrap">
        			<div class="tm-bg-earth"></div>
        			<div class="tm-login-layout">
        				<form method="post" action="">
        					
	        				<div class="tm-loginlayout-hd">
	        					<span class="tm-lghd-cn">用户登录</span>
	        					<span class="tm-lghd-en">USERLOGIN</span>
	        				</div>
	        				
	        				<div class="tm-loginlayout-bd">
	        					<div class="tm-login-input">
	        						<div class="tm-input-wrap">
	        							<i class="icon-login-uname"></i>
	        							<input name="uname" type="text" class="tm-input-hasicon" placeholder="用户名" />
	        						</div>
	        					</div>
	        					<div class="tm-login-input">
	        						<div class="tm-input-wrap">
	        							<i class="icon-login-pwd"></i>
	        							<input name="upwd" type="password" class="tm-input-hasicon" placeholder="密码" />
	        						</div>
	        					</div>
	        				</div>
	        				
	        				<div class="tm-loginlayout-ft">
	        					<input type="submit" class="tm-btn-login" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" />
	        				</div>
        				
        				</form>
        			</div>
        		</div>
        	</div>
        </div>
        
        <div class="tm-login-bot">
        	<div class="tm-bot-copy">版权所有：江苏中威科技软件系统有限公司</div>
        </div>
    </div>
</body>
</html>