<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Document</title>
    
    <link href="../../css/common.css" rel="stylesheet" type="text/css" media="screen"/>

    <link href="../../css/truemail.css" rel="stylesheet" type="text/css" media="screen"/>

    <!--[if lt IE 9]><script src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="../../js/jquery-2.1.1.min.js" type="text/javascript"></script><!--<![endif]-->


</head>

<body>
    <div class="tw-layout">
        <div class="tw-list-top">
            <div class="tw-crumb">
                <i class="tw-icon-caret-right"></i>当前位置：内部邮件 >  收件箱
            </div>
        </div>

        <div class="tw-container tm-container">
            <div class="tm-layout-left">
                <div class="tw-list-top">
                    <div class="tw-search-bar">
                        
                        <label class="tw-form-label" for="">发件人</label>
                        <input type="text" class="tw-form-text" id="" placeholder="">
                        <button class="tw-btn-primary">
                            <i class="tw-icon-search"></i> 查询
                        </button>
                    </div>
                </div>
                <div class="tw-container">

                </div>
            </div>
            <div class="tm-layout-right">
                <div class="tw-list-top">
                    <div class="tw-search-bar">
                        <div class="tw-top-tool">
                            <a class="tw-btn-green">
                                <i class="tw-icon-send-o"></i> 立即发送
                            </a>
                            <a class="tw-btn-blue" href="#">
                                <i class="tw-icon-save"></i> 存草稿
                            </a>
                        </div>

                        
                        <div class="tw-top-search">
                            
                            <label class="tw-form-label" for="">发件人</label>
                            <input type="text" class="tw-form-text" id="" placeholder="">
                            <button class="tw-btn-primary">
                                <i class="tw-icon-search"></i> 查询
                            </button>
                        </div>
                    </div>
                </div>

                <div class="tw-container">

                        <table class="tw-table-list" layoutH="100">
                            <thead>
                                <tr>
                                    <th align="center" width="5%"><input type="checkbox"></th>
                                    <th align="center" width="5%">序号</th>
                                    <th align="center" width="5%">状态</th>
                                    <th align="center" width="5%">附件</th>
                                    <th align="left">主题</th>
                                    <th align="left" width="15%">发送人</th>
                                    <th align="center" width="15%">时间</th>
                                    <th align="center" width="5%">收藏</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-c"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-star"></i>
                                    </td>
                                </tr>
                                <tr class="tw-mail-open">
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-o"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-unstar"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-c"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-star"></i>
                                    </td>
                                </tr>
                                <tr class="tw-mail-open">
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-o"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-unstar"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-c"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-star"></i>
                                    </td>
                                </tr>
                                <tr class="tw-mail-open">
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-o"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-unstar"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-c"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-star"></i>
                                    </td>
                                </tr>
                                <tr class="tw-mail-open">
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-o"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-unstar"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-c"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-star"></i>
                                    </td>
                                </tr>
                                <tr class="tw-mail-open">
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-o"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-unstar"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-c"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-star"></i>
                                    </td>
                                </tr>
                                <tr class="tw-mail-open">
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>
                                        <i class="tm-icon-status-o"></i>
                                    </td>
                                    <td>
                                        <i class="tm-icon-attr"></i>
                                    </td>
                                    <td>
                                        <a href="">关于报送政府网站基本信息及定级备案等情况的通知（等保办下发通知）</a>
                                    </td>
                                    <td>汤景宇[公安局-秘书科]</td>
                                    <td>2016-03-15 11:46</td>
                                    <td>
                                        <i class="tm-icon-unstar"></i>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                   
                </div>
            </div>
        </div>


        
        
    </div>


    <script src="../../plugins/layer/layer.js" type="text/javascript"></script>

    <script src="../../plugins/laydate/laydate.js" type="text/javascript"></script>
    <script src="../../js/common-ui.js" type="text/javascript"></script>
    

    <script type="text/javascript">
    $(document).ready(function() {
        $(".tw-search-super").click(function(){
            parent.layer.open({
                title :'高级查询',
                content: ['/templates/page/search.html'],
                // content: 'test',
                type: 2, 
                area: ['400px', '250px'],
            }); 
        });

        $(".JS_add").click(function(){
            parent.layer.open({
                title :'添加内容',
                content: ['/templates/page/add.html'],
                // content: 'test',
                type: 2, 
                area: ['600px', '400px'],
                btn: ['确定', '取消'],
                yes: function(index, layero){
                    // var body = parent.layer.getChildFrame('body', index);
                    // console.log(layero)
                    var iframeWin = window.top.frames[layero.find('iframe')[0]['name']];


                    // var iframeWin = window[layero.find('iframe')[0]['name']];
                    iframeWin.$("#form").submit();

                    // console.log(iframeWin) 
                    // iframeWin.test();
                    // iframeWin.submit();
                    // iframeWin.validateForm();
                    // iframeWin.formSubmit();
                    // iframeWin.document.form22.submit()
                    parent.layer.close(index);
                }
            }); 
        });
        
    })
    </script>
    

</body>
</html>
