<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Document</title>
    
    <link href="../../css/common.css" rel="stylesheet" type="text/css" media="screen"/>
	

</head>

<body>
    <div class="example">
		
		
		<h4 class="doc-title">工作流流程相关操作按钮</h4>

		<div class="doc-example">
			<a class="tw-btn-primary">
                <i class="tw-icon-plus-circle"></i> 添加
            </a>
            <a class="tw-btn-orange" href="#">
                <i class="tw-icon-pencil"></i> 修改
            </a>
            <a class="tw-btn-danger">
                <i class="tw-icon-minus-circle"></i> 删除
            </a>
            <a class="tw-btn-orange">
                <i class="tw-icon-cogs"></i> 其他
            </a>
            
        </div>


        <h4 class="doc-title">徽章</h4>

        <div class="doc-example">
            

            <span class="tw-badge">是</span>

            <span class="tw-badge-danger">超</span>

            <span class="tw-badge-green">办</span>

            <span class="tw-badge-blue">未</span>
            
        </div>

        <h4 class="doc-title">常用按钮</h4>
        <div class="doc-example">
            <a class="tw-btn-primary">
                <i class="tw-icon-plus-circle"></i> 添加
            </a>
            <a class="tw-btn-secondary" href="#">
                <i class="tw-icon-pencil"></i> 修改
            </a>
            <a class="tw-btn-orange">
                <i class="tw-icon-check-square-o"></i> 选择
            </a>
            <a class="tw-btn-danger">
                <i class="tw-icon-minus-circle"></i> 删除
            </a>
            <a class="tw-btn-primary">
                <i class="tw-icon-crosshairs"></i> 查看
            </a>
            <a class="tw-btn-primary">
                <i class="tw-icon-crosshairs"></i> 详细
            </a>
            <a class="tw-btn-orange">
                <i class="tw-icon-play-circle"></i> 预览
            </a>
            <a class="tw-btn-orange">
                <i class="tw-icon-reply"></i> 回复
            </a>
            <a class="tw-btn-orange">
                <i class="tw-icon-play-circle"></i> 批量收取
            </a>
            <a class="tw-btn-blue">
                <i class="tw-icon-send"></i> 发布
            </a>
            <a class="tw-btn-purple">
                <i class="tw-icon-copy"></i> 复制
            </a>
            <a class="tw-btn-orangered">
                <i class="tw-icon-cogs"></i> 设置
            </a>
        </div>

		<h4 class="doc-title">背景颜色按钮</h4>
		<div class="doc-example">
			<a class="tw-btn">背景按钮</a>
			<a class="tw-btn-primary">背景按钮</a>
			<a class="tw-btn-secondary">背景按钮</a>
			<a class="tw-btn-orange">背景按钮</a>
			<a class="tw-btn-green">背景按钮</a>
			<a class="tw-btn-blue">背景按钮</a>
			<a class="tw-btn-danger">背景按钮</a>
			<a class="tw-btn-purple">背景按钮</a>
			<a class="tw-btn-orangered">背景按钮</a>
		</div>


        <h4 class="doc-title">边框按钮</h4>
		<div class="doc-example">
			<a class="tw-btn-border-primary">边框按钮</a>
			<a class="tw-btn-border-secondary">边框按钮</a>
			<a class="tw-btn-border-orange">边框按钮</a>
			<a class="tw-btn-border-green">边框按钮</a>
			<a class="tw-btn-border-blue">边框按钮</a>
			<a class="tw-btn-border-danger">边框按钮</a>
			<a class="tw-btn-border-purple">边框按钮</a>
			<a class="tw-btn-border-orangered">边框按钮</a>
		</div>

		
		<h4 class="doc-title">各尺寸按钮</h4>
		<div class="doc-example">
			<a class="tw-btn-primary tw-btn-xl">超大按钮</a>
			<a class="tw-btn-orange tw-btn-lg">大按钮</a>
			<a class="tw-btn-blue">默认按钮</a>
			<a class="tw-btn-danger tw-btn-sm">小按钮</a>
		</div>



    </div>
</body>

</html>
