<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Document</title>
    
    <link href="../../css/common.css" rel="stylesheet" type="text/css" media="screen"/>
	
    <script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../plugins/jquery.flexslider.js"></script>
</head>

<body>
    <section class="tw-slide-wrap">
        <div class="tw-slide">
            <ul class="tw-slide-list">
                <li>
                    <a href="">
                        <img src="../../img/banner1.jpg" />
                        <p><span>1我就这样告别山下的家，我实在不愿轻易让眼泪留下。我就这样告别山下的家，我实在不愿轻易让眼泪留下。</span></p>
                        
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../img/banner2.jpg" />
                        <p><span>2我就这样告别山下的家，我实在不愿轻易让眼泪留下。我就这样告别山下的家，我实在不愿轻易让眼泪留下。</span></p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../img/banner3.jpg"  />
                        <p><span>3我就这样告别山下的家，我实在不愿轻易让眼泪留下。我就这样告别山下的家，我实在不愿轻易让眼泪留下。</span></p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../img/banner1.jpg" />
                        <p><span>4我就这样告别山下的家，我实在不愿轻易让眼泪留下。我就这样告别山下的家，我实在不愿轻易让眼泪留下。</span></p>
                    </a>
                </li>

            </ul>
            
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tw-slide').flexslider({
                namespace: "tw-",
                selector: ".tw-slide-list > li",
                animation: "fade",
                animationLoop: true,
                pausePlay: false,
                directionNav: false
            });
        });

    </script>


</body>

</html>
