<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../../css/common.css" rel="stylesheet" type="text/css" media="screen"/>
	
    	
    <!--[if lt IE 9]><script src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="../../js/jquery-2.1.1.min.js" type="text/javascript"></script><!--<![endif]-->

    <title>Document</title>
</head>

<body>

<div class="example">
	<h4 class="doc-title">默认tab切换</h4>

	<div class="doc-example">
	    <div class="tw-tabs" >
	        <ul class="tw-tabs-nav">
	            <li class="tw-nav-item">
	            	<a href="javascript: void(0)">标签1</a>
	            </li>
	            <li class="tw-nav-item">
	            	<a href="javascript: void(0)">标签</a>
	            </li>
	        </ul>
	        <div class="tw-tabs-bd">
	            <div class="tw-tab-panel">
	            	<div class="tw-panel-cnt">
	            		<div class="tw-tabs" >
					        <ul class="tw-tabs-nav">
					            <li class="tw-nav-item">
					            	<a href="javascript: void(0)">内标签11111aaaa</a>
					            </li>
					            <li class="tw-nav-item">
					            	<a href="javascript: void(0)">内标签11111bbbb</a>
					            </li>
					        </ul>
					        <div class="tw-tabs-bd">
					            <div class="tw-tab-panel">
					            	<div class="tw-panel-cnt">内内内内内内内内内内内内
					            		我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
					            	</div>
					            </div>
					            <div class="tw-tab-panel">
					            	<div class="tw-panel-cnt">
										内内内内内内内内内动态插入的标签内容1
					            	</div>
					            </div>
					        </div>
					    </div>
	            	</div>
	            </div>
	            <div class="tw-tab-panel">
	            	<div class="tw-panel-cnt">
						<div class="tw-tabs" >
					        <ul class="tw-tabs-nav">
					            <li class="tw-nav-item">
					            	<a href="javascript: void(0)">内标签222222aaaaaa</a>
					            </li>
					            <li class="tw-nav-item">
					            	<a href="javascript: void(0)">内标签222222bbbbbb</a>
					            </li>
					        </ul>
					        <div class="tw-tabs-bd">
					            <div class="tw-tab-panel">
					            	<div class="tw-panel-cnt">内内内内内内内内内内内内
					            		我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
					            	</div>
					            </div>
					            <div class="tw-tab-panel">
					            	<div class="tw-panel-cnt">
										内内内内内内内内内动态插入的标签内容1
					            	</div>
					            </div>
					        </div>
					    </div>
	            	</div>
	            </div>
	        </div>
	    </div>
	</div>

</div>
<script src="../../js/common-ui.js" type="text/javascript"></script>



</body>

</html>
