@charset "utf-8";
/* CSS Document */
.selecttexts{width:146px;height:21px;line-height:21px;border:1px #cccccc dotted;padding-left:2px;padding-right:2px; position:relative;}
.xlcon{background:#ffffff;width:150px;border:1px #cccccc dotted;line-height:22px;overflow:hidden;position:absolute;z-index:200;}
.xlcon p{height:22px;line-height:22px; background:#F7F7F7 url(images/arr.gif) 5px 8px no-repeat;padding-left:15px;margin:1px; cursor:pointer;}
