.add span{background:url(add.png) left center no-repeat !important;}
.adv span{background:url(adv.png) left center no-repeat !important;}
.auxiliary span{background:url(auxiliary.png) left center no-repeat !important;}
.back span{background:url(back.png) left center no-repeat !important;}
.close span{background:url(close.png) left center no-repeat !important;}
.delete span{background:url(delete.png) left center no-repeat !important;}
.dow span{background:url(dow.png) left center no-repeat !important;}
.edit span{background:url(edit.png) left center no-repeat !important;}
.excel span{background:url(excel.png) left center no-repeat !important;}
.folder span{background:url(folder.png) left center no-repeat !important;}
.print span{background:url(print.png) left center no-repeat !important;}
.redirect span{background:url(redirect.png) left center no-repeat !important;}
.ren span{background:url(ren.png) left center no-repeat !important;}
.sav span{background:url(sav.png) left center no-repeat !important;}
.set span{background:url(set.png) left center no-repeat !important;}
.seth span{background:url(seth.png) left center no-repeat !important;}
.word span{background:url(word.png) left center no-repeat !important;}
.select span{background:url(select.png) left center no-repeat !important;}
.push span{background:url(push.png) left center no-repeat !important;}
.message span{background:url(message.png) left center no-repeat !important;}