html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html {
    font-family: "San Francisco", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Noto Sans", "Roboto", "Helvetica Neue", "Microsoft YaHei", Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 20px;
}
body {
    margin: 0;
    background: #f6f6f6;
    color: #262626;
}

:focus {
  outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:none;
    text-decoration: none;
    color:#fff;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}
a:hover{
  text-decoration: none;
  color:#fff;
}
a:visited{
  color: #fff;
}
input, select {
    vertical-align:middle;
}
img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
ul>li,ul>ol{
    list-style: none;
}
.visbile{
    visibility:visible;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.infor-tab{
    background: #fff;
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #d0d0d0;
    padding: 0 8%;
}
.infor-tab a{
    color: #1a1a1a;
    font-size: 18px;
    display: inline-block;
    width: 32%;
    text-align: center;
}
.infor-tab a.act{
    color: #77aeee;
    height: 48px;
    border-bottom: 2px solid #248be8;
}
.mui-search{
    margin-top: 20px;
    background: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
}
.mui-input-clear{
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    text-align: center;
    border: 0;
    border-radius: 6px;
    background-color: #ebebeb;
    padding: 0 10px;
    width: 100%;
    outline: none;
}
.tree-head{
    background: #f6f6f6;
    height: 40px;
    line-height: 40px;
    color: #858585;
    font-size: 16px;
    padding: 0 15px;
}
.checkbox{
  position: relative;
}
.checks{
    opacity: 0;
    margin-right: 5px;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  background: url(../img/check-mobile-icon.png);
  content: " ";
  height: 22px;
  left: 0;
  top: 0;
  position: absolute;
  width: 22px;
}
input[type="checkbox"]:checked + label:before {
 background: url(../img/checked-mobile-icon.png);
}
.choose-ul .checks{
  float: right;
}
.choose-ul .checkbox{
    display: inline-block;
    width: 153px;
    margin-right: 8px;
}
.choose-ul input[type="checkbox"]:checked + label:before,.choose-ul input[type="checkbox"]:not(:checked) + label:before{
  right: 0;
  left: auto;
}
.user-list{
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 15px;
}
.user-list li{
    float: left;
    width: 33.3%;
    padding: 10px 0;
    font-size: 16px;
}
.check-info{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f0f0f0;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ddd;
    padding-left: 15px;
    font-size: 16px;
}
.ml20{
    margin-left: 20px;
}
.blue-color{
    color: #248be8;
}
.fixed-btn{
    background: #028cef;
    width: 80px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border: none;
    float: right;
}