@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}
body,td,th {
	font-size: 14px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
h3{font-size:14px;}
h3,ul,ol,dl,p{padding:0; margin:0;}
.max_w{width:1002px; margin:0 auto;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
.clear-both{clear:both; height:0px; overflow:hidden;}
.clear-left{clear:left; height:0px; overflow:hidden;}
ul,li{list-style:none;}
