@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}
body,td,th {
	font-size: 12px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#FFF;
}
h3{font-size:14px;}
h3,ul,ol,dl,p{padding:0; margin:0;}
.max_w{width:996px; margin:0 auto;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.clear-both{clear:both;}
ul,li{list-style:none;}
.box{position:relative;}
.mag_top_6{margin-top:6px;}
