@CHARSET "UTF-8";

*{
	padding : 0 ;
	margin : 0 ;
}
     
/* 市委 套表格的div样式 styles */
div.sw {
	margin: 10 0 5 0;
}

/* 市委表格样式 styles */
table.sw {
	border-style: solid;
	border-width: 1px;
	border-color: #9FCBEF;
	border-collapse: collapse;
	line-height: 22px;
	font-size: 12px;
	margin-bottom: 5px;
	width: 100%;
}
table.sw thead tr {
	background-color: #def;
	line-height: 22px;
	background: url(../../widgets/images/sw/css_little/main_r10_c9.jpg) repeat-x top;
}

table.sw tr.even {
	background-color: #F4FAFD;
	event:expression( onmouseover = function() {
                 this.style.backgroundColor = '#FEFDDC';
                 }
          ,onmouseout = function() {
                 this.style.backgroundColor = '#F4FAFD';
          }
         )
}

table.sw tr.odd {
	background-color: #FFFFFF;
	event:expression( onmouseover = function() {
                 this.style.backgroundColor = '#FEFDDC';
                 }
          ,onmouseout = function() {
                 this.style.backgroundColor = '#FFFFFF';
          }
         )
}	

table.sw td {
	border: #9FCBEF solid;
	border-width: 0 1 1 0;
}
/* 市委表格样式 styles ------ End*/

/* displayTag表格样式  用于分页标签的样式*/
.displayTag_table0 {
	font-size: 12px;
	border:#9FCBEF solid;
	border-width:1 1 1 1;
	background:url(../../widgets/images/sw/css_little/main_r10_c9.jpg) repeat-x top;
    PADDING: 1px;
    width: 100%;
}

/* 超链 styles */
a {
	TEXT-DECORATION: none;
	color: #000;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:VISITED {
	color: #000000;
	text-decoration: none;
}

a:hover,a:active {
	color: red;
	text-decoration: none;
}
/* 超链 styles------End */


.bd {StartColorStr =#ffffff, EndColorStr=#B4D7F3);
	BORDER-RIGHT: #9FCAEF 1px solid;
	BORDER-TOP: #9FCAEF 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #9FCAEF 1px solid;
	COLOR: black;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #9FCAEF 1px solid
}

.bd2 {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D7EDF9); 
	BORDER-RIGHT: #9FCAEF 1px solid;  
	BORDER-TOP: #9FCAEF 1px solid; 
	FONT-SIZE: 12px; 
	BORDER-LEFT: #9FCAEF 1px solid; 
	COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #9FCAEF 1px solid
}

.bd_displayTag {
	StartColorStr=#ffffff, EndColorStr=#B4D7F3); 
	BORDER-RIGHT: #9FCAEF 1px solid;  
	BORDER-TOP: #9FCAEF 1px solid; 
	FONT-SIZE: 12px; 
	BORDER-LEFT: #9FCAEF 1px solid; 
	COLOR: black; 
	BORDER-BOTTOM: #9FCAEF 1px solid;
	height: 18px;
	width: 30px;
}

body,td,th {
	font-size: 12px;
}

.table1{
	border:#9FCBEF solid;
	border-width:1 0 0 1;
	line-height:20px;
	PADDING: 1px;
}
.td1 {
	font-size: 12px;
	border:#9FCBEF solid;
	border-width:0 1 1 0;
	background:url(../../widgets/images/sw_table/main_r10_c9.jpg) repeat-x top;
	height: 26px;
    PADDING-left: 2px
}

.td2 {
	font-size: 12px;
	border:#9FCBEF solid;
	border-width:0 1 1 0;
	height: 26px;
	PADDING-left: 2px
}

.td3 {
	font-size: 12px;
	border:#9FCBEF solid;
	border-width:0 1 1 0;
	background-color:#DDF0FA;
    height: 26px;
	PADDING-left: 2px
}

.td4 {
	font-size: 12px;
	border:#9FCBEF solid;
	border-width:0 1 1 0;
	background-color:#FEFDDC;
    height: 26px;
	PADDING-left: 2px
}

.button1 {
	BORDER-RIGHT: #9FCAEF 1px solid; 
	PADDING-RIGHT: 1px; 
	BORDER-TOP: #9FCAEF 1px solid; 
	PADDING-LEFT: 1px; 
	FONT-SIZE: 12px; 
	BORDER-LEFT: #9FCAEF 1px solid; 
	CURSOR: hand; 
	COLOR: black; 
	BORDER-BOTTOM: #9FCAEF 1px solid;
	background:#D7EDF9;
	height: 18px;
	margin-right: 2px;
}

.btn {
	BORDER-RIGHT: #9FCAEF 1px solid; 
	PADDING-RIGHT: 1px; 
	BORDER-TOP: #9FCAEF 1px solid; 
	PADDING-LEFT: 1px; 
	FONT-SIZE: 12px; 
	BORDER-LEFT: #9FCAEF 1px solid; 
	CURSOR: hand; 
	COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #9FCAEF 1px solid;
	background:#D7EDF9;
}

