body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td
	{
	margin: 0;
	padding: 0px;
}

body,button,input,select,textarea {
	font: 12px Arial, sans-serif, "Lucida Grande", Helvetica, arial,
		tahoma, \5b8b\4f53;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

address,cite,dfn,em,var {
	font-style: normal;
}

code,kbd,pre,samp {
	font-family: courier new, courier, monospace;
}

small {
	font-size: 12px;
}

ul,ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.warp{width:820px;overflow:hidden;*zoom:1;}
.infotan td{height:25px;line-height:25px;font-size:14px;border:1px #333 solid;padding:5px;}
.infotan td input{border:0px;border-bottom:1px #cccccc dotted;line-height:22px;}
table{border-collapse:collapse;border-spacing:0;}
.infotan td textarea{width:600px;height:180px;}
.infotan td select{width:120px;}