<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Document</title>
    
    <link href="../../css/common.css" rel="stylesheet" type="text/css" media="screen"/>
    
        
    <!--[if lt IE 9]><script src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="../../js/jquery-2.1.1.min.js" type="text/javascript"></script><!--<![endif]-->
</head>

<body>
    <div class="tw-layout">
        <div class="tw-news-detail">
            <h2 class="tw-news-hd">市行政审批局召开全市行政审批服务平台建设对接工作会议</h2>
            <div class="tw-news-attr">
                <!-- <p class="tw-news-date">发布时间：2015-12-10 18:46:36</p> -->
                <span>发布部门：管理部 </span>     <span>发布时间：2016-03-04 09:35:01</span>     <span>阅读人数：5</span> 
            </div>
            <div class="tw-news-layout">
                <div class="tw-news-bd">
                    <p style="text-align:center;"><img border="0" width="500" height="326" src="http://www.ntzw.gov.cn/picture/0/151127173052646.jpg" style="border:0px;vertical-align:middle;color:#333333;font-family:arial, ？？？？;font-size:14px;line-height:30px;text-align:center;text-indent:28px;white-space:normal;background-color:#e4f6ff;"><br></p>
                    <p height="34" style="padding:0px;line-height:30px;font-size:14px;text-indent:2em;color:#333333;font-family:arial, ？？？？;white-space:normal;margin-top:0px;margin-bottom:0px;">11月26日下午，全市行政审批服务平台建设对接工作会议在市行政审批局第六开标室召开，各县（市）、区和通州湾江海联动开发示范区，苏通科技产业园，南通经济技术开发区行政审批局、信息中心的分管领导、技术人员参加了会议，会议由市信息中心主任李俊主持。</p>
                    <p style="padding:0px;line-height:30px;font-size:14px;text-indent:2em;color:#333333;font-family:arial, ？？？？;white-space:normal;margin-top:0px;margin-bottom:0px;">与会人员围绕县级行政审批局流程再造、市县两级数据互动、统一编码等问题进行了交流讨论，并一致认为本次会议为县（市）区推动行政审批制度改革指明了方向，为县级审批服务平台建设提供了一个架构合理、功能齐全、科学实用的平台建设样本，表示将积极配合南通市级平台建设，并及时做好县级平台个性化调研、对接、建设启动等工作。</p>
                    <p style="padding:0px;line-height:30px;font-size:14px;text-indent:2em;color:#333333;font-family:arial, ？？？？;white-space:normal;margin-top:0px;margin-bottom:0px;">市行政审批局局长施学雷出席会议并作重要讲话。她强调，信息化平台建设是破解改革难题的重要途径，是促进机制转变的重要载体，是提升群众满意度的关键手段，要充分认识信息化建设的重要作用；要明确目标，力争建成一个架构完整、资源共享、包容开放的平台，努力打造行政审批服务平台南通样板；要按照统一标准，加强调研、主动对接、超前谋划，形成上下联动协调的建设合力，共同为本轮改革做好信息化基础保障工作。</p>
                </div>
                <ul class="tw-news-attach">
                    <li>
                        <a href=""> <i class="tw-icon-paperclip"></i> 打分阿萨德放假啦撒地方金坷垃</a>
                    </li>
                    <li>
                        <a href=""> <i class="tw-icon-paperclip"></i> 打分阿萨德放假啦撒地方金坷垃</a>
                    </li>
                    <li>
                        <a href=""> <i class="tw-icon-paperclip"></i> 打分阿萨德放假啦撒地方金坷垃</a>
                    </li>
                </ul>
                <div class="tw-news-read-wrap">
                    <div class="tw-news-read"><i class="tw-icon-file-text-o"></i> 已阅本通知<span>（5人）</span> </div> 规划局（1人）张三 | 撒地方（2人）李四、李东、王西
                </div>
            </div>
            <div class="tw-news-ft">
                <div class="tw-news-layout">
                    <div class="tw-news-other">
                        <span>上一篇：<a href="">关于技术服务部服务组长的任命通知</a></span><br />
                        <span>下一篇：<a href="">《关于公司新OA启用的通知》</a></span>
                    </div>
                    <div class="tw-news-btns">
                        <span class="tw-btn-primary tw-btn-lg"><i class="tw-icon-file-text-o"></i> 已 阅</span>
                        <span class="tw-btn-primary tw-btn-lg"><i class="tw-icon-print"></i> 打 印</span>
                    </div>
                </div>
            </div>      
        </div>
    </div>

    
    <script src="../../js/common-ui.js" type="text/javascript"></script>

   
    

</body>
</html>
