
.icon {
  height:24px;
  line-height:24px;
  font-size:12px;
  display:inline-block;
}
.icon  i{
  background: url(../images/icon.png) 0 0 no-repeat;
  display: inline-block;
  font-size:12px;
  height:24px;
  width:24px;
  padding-right:5px;
}
.icon-shouhui i{
  background-position: 0px 0px;
}
.icon-shouhui:hover i{
  background-position: -36px 0px;
}
.icon-shouqu i{
  background-position: 0px -36px;
}
.icon-shouqu:hover i{
  background-position: -36px -36px;
}
.icon-piliangshouqu i{
  background-position: 0px -72px;
}
.icon-piliangshouqu:hover i{
  background-position: -36px -72px;
}
.icon-chexiao i{
  background-position: 0px -108px;
}
.icon-chexiao:hover i{
  background-position: -36px -108px;
}
.icon-quxiao i{
  background-position: 0px -144px;
}
.icon-quxiao:hover i{
  background-position: -36px -144px;
}
.icon-yidu i{
  background-position: 0px -180px;
}
.icon-yidu:hover i{
  background-position: -36px -180px;
}
.icon-xiangxi i{
  background-position: 0px -216px;
}
.icon-xiangxi:hover i{
  background-position: -36px -216px;
}
.icon-duban i{
  background-position: 0px -252px;
}
.icon-duban:hover i{
  background-position: -36px -252px;
}
.icon-fankui i{
  background-position: 0px -288px;
}
.icon-fankui:hover i{
  background-position: -36px -288px;
}
.icon-yanqi i{
  background-position: 0px -324px;
}
.icon-yanqi:hover i{
  background-position: -36px -324px;
}
.icon-tianjia i{
  background-position: 0px -360px;
}
.icon-tianjia:hover i{
  background-position: -36px -360px;
}
.icon-shanchu i{
  background-position: -70px 0px;
}
.icon-shanchu:hover i{
  background-position: -106px 0px;
}
.icon-xiugai i{
  background-position: -70px -36px;
}
.icon-xiugai:hover i{
  background-position: -106px -36px;
}
.icon-shenqing i{
  background-position: -70px -72px;
}
.icon-shenqing:hover i{
  background-position: -106px -72px;
}
.icon-zhuanfa i{
  background-position: -70px -108px;
}
.icon-zhuanfa:hover i{
  background-position: -106px -108px;
}
.icon-dayin i{
  background-position: -70px -144px;
}
.icon-dayin:hover i{
  background-position: -106px -144px;
}
.icon-tuomidayin i{
  background-position: -70px -180px;
}
.icon-tuomidayin:hover i{
  background-position: -106px -180px;
}
.icon-xiazai i{
  background-position: -70px -216px;
}
.icon-xiazai:hover i{
  background-position: -106px -216px;
}
.icon-chongdingxiang i{
  background-position: -70px -252px;
}
.icon-chongdingxiang:hover i{
  background-position: -106px -252px;
}
.icon-dingyue i{
  background-position: -70px -288px;
}
.icon-dingyue:hover i{
  background-position: -106px -288px;
}
.icon-tuiding i{
  background-position: -70px -324px;
}
.icon-tuiding:hover i{
  background-position: -106px -324px;
}
.icon-jiezhiriqi i{
  background-position: -70px -360px;
}
.icon-jiezhiriqi:hover i{
  background-position: -106px -360px;
}
.icon-chakan i{
  background-position: -70px -396px;
}
.icon-chakan:hover i{
  background-position: -106px -396px;
}
.icon-yulan i{
  background-position: -142px 0px;
}
.icon-yulan:hover i{
  background-position: -178px 0px;
}
.icon-canhuimingdan i{
  background-position: -142px -36px;
}
.icon-canhuimingdan:hover i{
  background-position: -178px -36px;
}
.icon-shiyong i{
  background-position: -142px -72px;
}
.icon-shiyong:hover i{
  background-position: -178px -72px;
}
.icon-tingzhi i{
  background-position: -142px -108px;
}
.icon-tingzhi:hover i{
  background-position: -178px -108px;
}